@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "poppins", sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    background: url("img/bg.jpg") no-repeat center center/cover;
    height: 100vh;
    overflow: hidden;
}

header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #21293a;
    color: #fff;
    box-shadow: 0 0.05rem 1.5rem rgba(0, 0, 0, 0.5);
}

header .logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
}

header .navbar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar a{
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0 0.5rem;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 5px;
}

header .navbar a:hover,
.active{
    background: #2c3e50;
    transition: 0.6s;
}

header .btn{
    font-size: 25px;
    cursor: pointer;
    display: none;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section h2{
    color: #fff;
    font-size: 10rem;
    text-align: center;
    letter-spacing: 0.9rem;
}

@media (max-width:990px) {
    html{
        font-size: 55%;
    }
    header{
        padding: 1rem 2rem;
    }
}

@media (max-width:768px){
    header .btn{
        display: block;
    }

    header .navbar{
        position: fixed;
        flex-direction: column;
        min-width: 300px;
        height: 100vh;
        background: #2c3e50;
        top: 0;
        right: -100%;     /* 0 it can hide the nav*/
        align-items: flex-start;
        justify-content: start;
        padding-top: 10rem;
        transition: 0.6s;
    }

    header .navbar.active2{
        right: 0;
        transition: 0.9s;
    }

    header .navbar .close-btn{
        position: absolute;
        top: 0;
        left: 0;
        margin: 25px;
    }

    header .navbar a{
        display: block;
        font-size: 1.9rem;
        margin: 0.5rem 15px;
    }

    header .navbar a:hover,
    .active{
        background: #21293a;
        color: #fff;
    }

    header .logo{
        font-size: 25px;
        font-weight: 500;
    }

    section h2{
        font-size: 5rem;
        padding: 2rem;
        letter-spacing: 0.9rem;
        text-align: center;
    }
}